In [1]:
import pandas as pd

In [11]:
dict = {'公司名':['百度','腾讯','微软'],'price':[6680,3008,3160]}
df = pd.DataFrame(dict)
df

   price 公司名
0   6680  百度
1   3008  腾讯
2   3160  微软

In [12]:
df['公司名']

0    百度
1    腾讯
2    微软
Name: 公司名, dtype: object

In [14]:
df.iloc[0],df.loc[0]

(price    6680
 公司名        百度
 Name: 0, dtype: object, price    6680
 公司名        百度
 Name: 0, dtype: object)

In [15]:
df.iloc[1,df.columns.get_loc('公司名')]

'腾讯'

In [17]:
df.iloc[1,df.columns.get_loc('公司名')] = '微信'
df

   price 公司名
0   6680  百度
1   3008  微信
2   3160  微软

In [18]:
df.loc[0,'公司名']

'百度'

In [20]:
df.loc[0,'公司名'] = '百度公司'
df

   price   公司名
0   6680  百度公司
1   3008    微信
2   3160    微软