In [17]:
from arch.unitroot import ADF
import pandas as pd

In [22]:
df = pd.read_csv('../data/000300_index.csv')
df.index = df['date']
df.sort_index(inplace=True)
df['return'] = df['close']/df['close'].shift(1) - 1
ret = df['return'].dropna() #这行很重要，需要把NaN的值去掉
df.head()

,date,open,high,close,low,volume,amount,return
date,,,,,,,,
2015-12-01,2015-12-01,3562.319,3617.305,3591.696,3536.116,13653656000,176598810624,NaN
2015-12-02,2015-12-02,3587.758,3725.854,3721.955,3573.403,21353886400,260938694656,0.036267
2015-12-03,2015-12-03,3709.547,3758.446,3749.299,3693.137,19776212800,236698992640,0.007347
2015-12-04,2015-12-04,3719.734,3726.124,3677.592,3667.291,15119952000,196455596032,-0.019125
2015-12-07,2015-12-07,3681.582,3699.337,3687.607,3658.578,11388315200,161220067328,0.002723

In [23]:
adf = ADF(ret)
adf

<class 'arch.unitroot.unitroot.ADF'>
"""
   Augmented Dickey-Fuller Results
=====================================
Test Statistic                 -6.351
P-value                         0.000
Lags                               14
-------------------------------------

Trend: Constant
Critical Values: -3.44 (1%), -2.87 (5%), -2.57 (10%)
Null Hypothesis: The process contains a unit root.
Alternative Hypothesis: The process is weakly stationary.
"""

In [25]:
adf.summary().as_text()

'   Augmented Dickey-Fuller Results   \n=====================================\nTest Statistic                 -6.351\nP-value                         0.000\nLags                               14\n-------------------------------------\n\nTrend: Constant\nCritical Values: -3.44 (1%), -2.87 (5%), -2.57 (10%)\nNull Hypothesis: The process contains a unit root.\nAlternative Hypothesis: The process is weakly stationary.'

In [26]:
adf = ADF(df['close'])
adf

<class 'arch.unitroot.unitroot.ADF'>
"""
   Augmented Dickey-Fuller Results
=====================================
Test Statistic                 -1.477
P-value                         0.545
Lags                               15
-------------------------------------

Trend: Constant
Critical Values: -3.44 (1%), -2.87 (5%), -2.57 (10%)
Null Hypothesis: The process contains a unit root.
Alternative Hypothesis: The process is weakly stationary.
"""

In [28]:
adf.summary().as_text()

'   Augmented Dickey-Fuller Results   \n=====================================\nTest Statistic                 -1.477\nP-value                         0.545\nLags                               15\n-------------------------------------\n\nTrend: Constant\nCritical Values: -3.44 (1%), -2.87 (5%), -2.57 (10%)\nNull Hypothesis: The process contains a unit root.\nAlternative Hypothesis: The process is weakly stationary.'

In [32]:
from statsmodels.tsa import stattools
lb = stattools.q_stat(stattools.acf(ret)[1:13],len(ret))
lb #是白噪声？

(array([ 3.85709512,  5.9335164 ,  6.39428791,  6.49998591, 10.06279834,
        10.50812978, 11.42299801, 11.4317141 , 18.23071851, 18.36597625,
        20.5095434 , 29.80901729]),
 array([0.04953602, 0.0514699 , 0.09392607, 0.16479127, 0.07347531,
        0.10482076, 0.12120279, 0.17841658, 0.03258921, 0.04909513,
        0.03882325, 0.00298328]))

In [33]:
lb[1][-1]

0.0029832845561380407

In [34]:
lb2 = stattools.q_stat(stattools.acf(df['close'])[1:13],len(ret))
lb2[1][-1] #p值很小，不是白噪声

0.0